
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :link %>
  <%= f.text_field :link %>
</div>

<div class="field">
  <%= f.label :notes %>
  <%= f.text_field :notes %>
</div>

<div class="field">
  <%= f.label :reps %>
  <%= f.text_field :reps %>
</div>

<div class="field">
  <%= f.label :tempo %>
  <%= f.text_field :tempo %>
</div>

<div class="field">
  <%= f.label :kit %>
  <%= f.text_field :kit %>
</div>

