<tr>
  <td class="field">
    <%= f.text_field :name %>
  </td>

  <td class="field">
    <%= f.text_field :link %>
  </td>

  <td class="field">
    <%= f.text_field :reps, class: "half" %>
    <%= f.text_field :tempo,class: "half" %>
  </td>

  <td class="field">
    <%= f.text_field :kit %>
  </td>
</tr>

<tr>
  <td class="field notes" colspan="5">
    <%= f.text_field :notes %>
  </td>
</tr>
