
<%= simple_form_for @programme do |f| %>

  <h1>
    <%= t(".new", name: @user.email) %>
    <!-- t(".new") -->
  </h1>

  <%= @programme.customer_id %>

  <% if @programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% @programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag t(".pname") %>
    <%= f.text_field :name %>
  </div>

  <%= f.text_field :customer_id %>

  <h2><%= t(".title") %></h2>

  <table class="exercises">
    <thead>
    <tr>
      <th>
        <%= label_tag t(".name") %>
      </th>
      <th>
        <%= label_tag t(".link") %>
      </th>
      <th class="separate">
        <%= label_tag t(".reps") %> <%= label_tag t(".tempo") %>
      </th>
      <th>
        <%= label_tag t(".kit") %>
      </th>
    </tr>
    </thead>

    <tbody>
      <%= f.fields_for :exercises do |builder| %>
          <%= render "exercises_fields", :f => builder %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
