<h2><%= t(".title", email: @user.email) %></h2>

<table>
  <tr>
    <th><%= t(".name") %></th>
    <th><%= t(".edited") %></th>
    <th><%= t(".actions") %></th>
  </tr>
  <% @user.programmes.each do | programme | %>
    <tr>
      <td><%= programme.name %></td>
      <td><%= programme.updated_at.strftime("%d/%m/%y") %></td>
      <td><%= link_to "", edit_user_programme_path(@user, programme), class: "button fa fa-pencil" %></td>
    </tr>
  <% end %>
</table>

<div class="footer">
  <%= link_to t(".new"), new_user_programme_path(@user), class: "button" %>
</div>
