<h1><%= t(".title") %></h1>

<h2><%= @programme.name %> <%= @programme.created_at.strftime("%a %d %b") %></h2>

<table class="exercises">
  <thead>
  <tr>
    <th>
      <%= label_tag t(".name") %>
    </th>
    <th>
      <%= label_tag t(".link") %>
    </th>
    <th class="separate">
      <%= label_tag t(".reps") %> <%= label_tag t(".tempo") %>
    </th>
    <th>
      <%= label_tag t(".kit") %>
    </th>
  </tr>
  </thead>

  <% @programme.exercises.each do | ex | %>
    <tr>
      <td><%= ex.name %></td>
      <td><%= video_tag ex.link, width: "150", controls: true %></td>
      <td><%= ex.reps %> <%= ex.tempo %></td>
      <td><%= ex.kit %></td>
    </tr>
    <% if ex.notes? %>
      <tr>
        <td colspan="4"><span class="strong">Notes: </span><%= ex.notes %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% if current_user.role == "admin" %>
  <%= link_to t(".edit"), edit_user_programme_path(@programme.user, @programme) %>
<% end %>

<div class="footer">
  <%= link_to t(".back"), user_programmes_path(@programme.user), class: "button" %>
</div>