<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".head_title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="pull-right">
        <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <br>
            <%= t("welcome", name: "TODO [User Name]") %>
            <br>
            <%= link_to t("users.profile"), edit_user_registration_path, class: 'navbar-link' %> |
            <%= link_to t("users.logout"), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
        <% else %>
            <%= link_to t("users.register"), new_user_registration_path, class: 'navbar-link'  %> |
            <%= link_to t("users.login"), new_user_session_path, class: 'navbar-link'  %>
        <% end %>
      </div>
      <div>
        <div class="header-title"><%= t("title") %></div><%= image_tag "logo_header", class: 'header-img' %>
     </div>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  <%= yield %>
  </body>
</html>
